<div class="header-container w-100 d-flex justify-content-between align-items-center">
 <!-- Botón de toggle para la barra lateral -->
  <button (click)="onToggleSidebar()" title="Sidebar" class="toggle-button" data-bs-toggle="tooltip" data-bs-placement="top"
  data-bs-custom-class="custom-tooltip"
  data-bs-title="Sidebar">
    <svg class="toggle-icon" viewBox="0 0 16 16">
      <use [attr.xlink:href]="!isSidebarVisible ? './assets/icons/bootstrap-icons.svg#layout-sidebar' : './assets/icons/bootstrap-icons.svg#layout-sidebar-inset'"></use>
    </svg>
  </button>
  
  <div class="d-flex align-items-center w-100">
    <a href="#" class="logo-container">
      <img src="./assets/img/new_logo_shotra.png" alt="Logo" class="logo-img">
    </a>
    
    <a class="navbar-brand mx-auto" href="#">
      {{ nombreApp }}
    </a>
    
    <div class="btn-group ms-lg-0" style="margin-right: 4px;">
      <a class="btn" href="#">        
        <svg width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
          <use xlink:href="./assets/icons/bootstrap-icons.svg#bell"/>
        </svg>
      </a>      
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#">
          <svg width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
            <use xlink:href="./assets/icons/bootstrap-icons.svg#person-circle"/>
          </svg>
        </a>        
        <ul class="dropdown-menu m-2" style="margin-right: 3px;">
          <li><a class="dropdown-item" href="#">UserName</a></li>
          <li><a class="dropdown-item" href="#">Update</a></li>
          <li><a class="dropdown-item" href="#">Add image</a></li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item" href="#">
              <svg width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                <use xlink:href="./assets/icons/bootstrap-icons.svg#box-arrow-right"/>
              </svg>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
