<div class="card shadow col-md-4 mx-auto m-3">
    <div class="card-body m-1" style="background-color: #A60000; border-radius: 5px;">
        <div class="row justify-content-center w-100">
            <a class="navbar-brand mb-2 mb-lg-0 d-flex justify-content-center" href="#">
                <img src="./assets/img/new_logo_shotra.png" alt="Logo" class="logo-img">
            </a>
        </div>
        <h3 class="text-white text-center">Login</h3>
        <hr style="border: 2px solid black">
        <form>
            <div class="form-group m-2">
                <label style="color: #E6E6E6;">User name</label>
                <input type="text" class="form-control mt-2">
            </div>
            <div class="form-group m-2">
                <label style="color: #E6E6E6;">Password</label>
                <input type="password" class="form-control mt-2">
            </div>
            <hr style="border: 2px solid black">
            <div class="modal-footer">
                <button type="button" class="btn btn-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg>
                    Sign in
                </button>
                <div class="ml-5">Register <b>here</b></div>
            </div>
        </form>
    </div>
</div>
