<div class="container-fluid p-0">
  <div class="row m-0"> 
    <!-- Sidebar -->
    <div id="sidebar" class="p-0" 
         [ngClass]="{'hidden': !isSidebarVisible}"  
         style="width: 100px; background-color: var(--sidebar-background-color); height: 100vh; border-right: 2px solid black; overflow: hidden;">     
      <app-sidebar [optionsMenu]="optionsMenu"></app-sidebar>
    </div>

    <!-- Main Content -->
    <div [ngClass]="{'full-width': !isSidebarVisible, 'reduced-width': isSidebarVisible}" 
         class="main-content d-flex flex-column p-0" style="height: 100vh;">
      
      <!-- Header with Toggle Button -->
      <app-header (sidebarToggle)="toggleSidebar()">
        <!-- Este botón llamará al método toggleSidebar() del LayoutComponent -->
      </app-header>
      
      <!-- Content -->
      <div class="router-outlet-container flex-grow-1" style="overflow: hidden; background-color: var(--primary-background-color);">
        <router-outlet></router-outlet>        
      </div>
      
      <!-- Footer -->
      <div class="col-12 p-0">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
