<div class="card shadow col-md-4 mx-auto m-3">
    <div class="card-body m-1" style="background-color: #A60000; border-radius: 5px;">
        <div class="row justify-content-center w-100">
            <a class="navbar-brand mb-2 mb-lg-0 d-flex justify-content-center" href="#">
                <img src="./assets/img/new_logo_shotra.png" alt="Logo" class="logo-img">
            </a>
        </div>
        <h3 class="text-white text-center">Sign up</h3>
        <hr style="border: 2px solid black">
        <form>
            <div class="form-group m-2">
                <label style="color: #E6E6E6;">Document type</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select a document type</option>
                    <option value="1">Cédula</option>
                    <option value="2">Tarjeta de identidad</option>
                    <option value="3">Nit</option>
                </select>
            </div>
            <div class="form-group m-2">
                <label style="color: #E6E6E6;">Document number</label>
                <input type="text" class="form-control mt-2">
            </div>
            <div class="form-group m-2">
                <label style="color: #E6E6E6;">User name</label>
                <input type="text" class="form-control mt-2">
            </div>
            <div class="form-group m-2">
                <label style="color: #E6E6E6;">Password</label>
                <input type="password" class="form-control mt-2">
            </div>
            <div class="form-group m-2">
                <label style="color: #E6E6E6;">Repeat password</label>
                <input type="password" class="form-control mt-2">
            </div>
            <hr style="border: 2px solid black">
            <div class="modal-footer">
                <button type="button" class="btn btn-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                    </svg>
                    Sign up
                </button>
            </div>
        </form>
    </div>
</div>